In [161]:
# Download Spark from Apache Foundation
# Extract and rename to 'Spark' and place it to the home directory
# Open terminal 
# pwd -> check home directory
# cd Spark
# ls
# cd bin
# cd -> back to the home directory
# nano .bash_profile

#export SPARK_HOME="/home/pla/spark"
#export PATH=$SPARK_HOME/bin:$PATH
#export PYSPARK_DRIVER_PYTHON=jupyter
#export PYSPARK_DRIVER_PYTHON_OPTS='notebook'

# save the bash file

# back in the terminal
# source .bash_profile -> to run the bash file

# install PySpark
# pip install pyspark

# python3 -m pip install jupyter

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.master("local[*]").appName("SparkByExamples.com").getOrCreate()
sc=spark.sparkContext

21/08/24 21:27:34 WARN Utils: Your hostname, pla-M14xR1 resolves to a loopback address: 127.0.1.1; using 192.168.0.160 instead (on interface wlp13s0)
21/08/24 21:27:34 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
21/08/24 21:27:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
spark

In [4]:
data_path = "Data"

In [5]:
file_path = data_path + "/location_temp.csv"

In [6]:
file_path

'Data/location_temp.csv'

In [7]:
df1 = spark.read.format("csv").option("header","true").load(file_path)

In [8]:
df1.head(10)

[Row(event_date='03/04/2019 19:48:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 19:53:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 19:58:06', location_id='loc0', temp_celcius='28'),
 Row(event_date='03/04/2019 20:03:06', location_id='loc0', temp_celcius='30'),
 Row(event_date='03/04/2019 20:08:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:13:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:18:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:23:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 20:28:06', location_id='loc0', temp_celcius='32'),
 Row(event_date='03/04/2019 20:33:06', location_id='loc0', temp_celcius='35')]

In [9]:
df1.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [10]:
df1.count()

500000

In [11]:
file_path_no_header = data_path + "/utilization.csv"
df2 = spark.read.format("csv").option("header","false").option("inferSchema","true").load(file_path_no_header)

In [12]:
df2.count()

500000

In [13]:
df2.head(10)

[Row(_c0='03/05/2019 08:06:14', _c1=100, _c2=0.57, _c3=0.51, _c4=47),
 Row(_c0='03/05/2019 08:11:14', _c1=100, _c2=0.47, _c3=0.62, _c4=43),
 Row(_c0='03/05/2019 08:16:14', _c1=100, _c2=0.56, _c3=0.57, _c4=62),
 Row(_c0='03/05/2019 08:21:14', _c1=100, _c2=0.57, _c3=0.56, _c4=50),
 Row(_c0='03/05/2019 08:26:14', _c1=100, _c2=0.35, _c3=0.46, _c4=43),
 Row(_c0='03/05/2019 08:31:14', _c1=100, _c2=0.41, _c3=0.58, _c4=48),
 Row(_c0='03/05/2019 08:36:14', _c1=100, _c2=0.57, _c3=0.35, _c4=58),
 Row(_c0='03/05/2019 08:41:14', _c1=100, _c2=0.41, _c3=0.4, _c4=58),
 Row(_c0='03/05/2019 08:46:14', _c1=100, _c2=0.53, _c3=0.35, _c4=62),
 Row(_c0='03/05/2019 08:51:14', _c1=100, _c2=0.51, _c3=0.6, _c4=45)]

In [14]:
df2 = df2.withColumnRenamed("_c0", "event_datetime") \
         .withColumnRenamed("_c1", "server_id") \
         .withColumnRenamed("_c2","cpu_utilization") \
         .withColumnRenamed("_c3","free_memory") \
         .withColumnRenamed("_c4", "session_count")

In [15]:
df2.head(10)

[Row(event_datetime='03/05/2019 08:06:14', server_id=100, cpu_utilization=0.57, free_memory=0.51, session_count=47),
 Row(event_datetime='03/05/2019 08:11:14', server_id=100, cpu_utilization=0.47, free_memory=0.62, session_count=43),
 Row(event_datetime='03/05/2019 08:16:14', server_id=100, cpu_utilization=0.56, free_memory=0.57, session_count=62),
 Row(event_datetime='03/05/2019 08:21:14', server_id=100, cpu_utilization=0.57, free_memory=0.56, session_count=50),
 Row(event_datetime='03/05/2019 08:26:14', server_id=100, cpu_utilization=0.35, free_memory=0.46, session_count=43),
 Row(event_datetime='03/05/2019 08:31:14', server_id=100, cpu_utilization=0.41, free_memory=0.58, session_count=48),
 Row(event_datetime='03/05/2019 08:36:14', server_id=100, cpu_utilization=0.57, free_memory=0.35, session_count=58),
 Row(event_datetime='03/05/2019 08:41:14', server_id=100, cpu_utilization=0.41, free_memory=0.4, session_count=58),
 Row(event_datetime='03/05/2019 08:46:14', server_id=100, cpu_utilization=0.53, free_memory=0.35, session_count=62),
 Row(event_datetime='03/05/2019 08:51:14', server_id=100, cpu_utilization=0.51, free_memory=0.6, session_count=45)]

In [16]:
df2.show()

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|           47|
|03/05/2019 08:11:14|      100|           0.47|       0.62|           43|
|03/05/2019 08:16:14|      100|           0.56|       0.57|           62|
|03/05/2019 08:21:14|      100|           0.57|       0.56|           50|
|03/05/2019 08:26:14|      100|           0.35|       0.46|           43|
|03/05/2019 08:31:14|      100|           0.41|       0.58|           48|
|03/05/2019 08:36:14|      100|           0.57|       0.35|           58|
|03/05/2019 08:41:14|      100|           0.41|        0.4|           58|
|03/05/2019 08:46:14|      100|           0.53|       0.35|           62|
|03/05/2019 08:51:14|      100|           0.51|        0.6|           45|
|03/05/2019 08:56:14|      100|           0.32|       0.37|           47|
|03/05/2019 09:01:14|      100|           0.62|       0.59|           60|
|03/05/2019 09:06:14|      100|           0.66|       0.72|           57|
|03/05/2019 09:11:14|      100|           0.54|       0.54|           44|
|03/05/2019 09:16:14|      100|           0.29|        0.4|           47|
|03/05/2019 09:21:14|      100|           0.43|       0.68|           66|
|03/05/2019 09:26:14|      100|           0.49|       0.66|           65|
|03/05/2019 09:31:14|      100|           0.64|       0.55|           66|
|03/05/2019 09:36:14|      100|           0.42|        0.6|           42|
|03/05/2019 09:41:14|      100|           0.55|       0.59|           63|
+-------------------+---------+---------------+-----------+-------------+
only showing top 20 rows

In [17]:
json_df1_path = data_path + "/utlization.json"
df1 = spark.read.format("json").load(json_df1_path)

In [18]:
df1.count()

500000

In [19]:
df1.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [20]:
df1.show(10)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+
only showing top 10 rows

In [21]:
df1.count()

500000

In [22]:
df1.columns

['cpu_utilization',
 'event_datetime',
 'free_memory',
 'server_id',
 'session_count']

In [23]:
# to work with subset of the data

df1_sample = df1.sample(False, fraction=0.1)

In [24]:
df1_sample.count()

49759

In [25]:
df1_sample.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|
|           0.56|03/05/2019 10:26:14|       0.69|      100|           44|
|           0.66|03/05/2019 11:31:14|        0.6|      100|           56|
|           0.27|03/05/2019 12:11:14|       0.65|      100|           69|
|            0.5|03/05/2019 12:16:14|        0.5|      100|           51|
|           0.35|03/05/2019 12:31:14|       0.42|      100|           71|
|           0.48|03/05/2019 12:56:14|       0.38|      100|           44|
|           0.29|03/05/2019 13:11:14|       0.48|      100|           48|
|           0.41|03/05/2019 13:51:14|       0.59|      100|           67|
|           0.33|03/05/2019 14:06:14|       0.53|      100|           44|
|           0.45|03/05/2019 14:11:14|       0.64|      100|           67|
|           0.56|03/05/2019 14:56:14|       0.48|      100|           39|
|           0.39|03/05/2019 15:01:14|       0.52|      100|           48|
|           0.58|03/05/2019 15:11:14|       0.54|      100|           49|
|           0.59|03/05/2019 15:36:14|       0.37|      100|           70|
|           0.63|03/05/2019 15:56:14|       0.42|      100|           61|
|           0.33|03/05/2019 16:16:14|       0.49|      100|           52|
|           0.56|03/05/2019 16:41:14|       0.59|      100|           65|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [26]:
df1_sort = df1_sample.sort('event_datetime')

In [27]:
df1_sort.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.86|03/05/2019 08:06:16|       0.09|      101|           93|
|           0.84|03/05/2019 08:06:21|       0.36|      104|           94|
|            0.4|03/05/2019 08:06:24|       0.39|      106|           43|
|           0.62|03/05/2019 08:06:28|       0.41|      108|           86|
|           0.52|03/05/2019 08:07:00|       0.49|      127|           75|
|           0.61|03/05/2019 08:07:25|       0.15|      140|           69|
|           0.61|03/05/2019 08:12:01|       0.29|      128|           59|
|           0.74|03/05/2019 08:12:03|       0.62|      129|           81|
|           0.34|03/05/2019 08:12:13|       0.64|      134|           73|
|           0.71|03/05/2019 08:12:19|       0.45|      137|           70|
|           0.74|03/05/2019 08:12:29|       0.23|      142|           79|
|           0.97|03/05/2019 08:12:35|       0.27|      145|          100|
|           0.54|03/05/2019 08:17:06|       0.28|      130|           55|
|           0.48|03/05/2019 08:17:25|       0.36|      140|           62|
|           0.51|03/05/2019 08:17:31|       0.44|      143|           45|
|           0.88|03/05/2019 08:17:35|       0.22|      145|           85|
|           0.74|03/05/2019 08:21:29|       0.52|      109|           64|
|            0.7|03/05/2019 08:21:36|       0.11|      113|           72|
|            0.7|03/05/2019 08:21:51|       0.33|      122|           86|
|           0.69|03/05/2019 08:22:09|       0.59|      132|           71|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [28]:
file_path = data_path + "/location_temp.csv"
df1 = spark.read.format("csv").option("header","true").load(file_path)
df1.show(10)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
+-------------------+-----------+------------+
only showing top 10 rows

In [29]:
# filter 

df1.filter(df1["location_id"]=="loc0").show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [30]:
df1.filter(df1["location_id"]=="loc0").count()

1000

In [31]:
df1.filter(df1["location_id"]=="loc1").count()

1000

In [32]:
df1.filter(df1["location_id"]=="loc0").show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [33]:
df1.groupBy("location_id").count().show()

+-----------+-----+
|location_id|count|
+-----------+-----+
|     loc196| 1000|
|     loc226| 1000|
|     loc463| 1000|
|     loc150| 1000|
|     loc292| 1000|
|     loc311| 1000|
|      loc22| 1000|
|     loc351| 1000|
|     loc370| 1000|
|     loc419| 1000|
|      loc31| 1000|
|     loc305| 1000|
|      loc82| 1000|
|      loc90| 1000|
|     loc118| 1000|
|     loc195| 1000|
|     loc208| 1000|
|      loc39| 1000|
|      loc75| 1000|
|     loc228| 1000|
+-----------+-----+
only showing top 20 rows

In [34]:
df1.orderBy("location_id").show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 21:23:06|       loc0|          28|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
+-------------------+-----------+------------+
only showing top 20 rows

In [35]:
df1.groupBy("location_id").agg({'temp_celcius':'mean'}).show()

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|     loc196|           29.225|
|     loc226|           25.306|
|     loc463|           23.317|
|     loc150|           32.188|
|     loc292|           29.159|
|     loc311|           24.308|
|      loc22|           28.251|
|     loc351|           28.194|
|     loc370|            29.14|
|     loc419|           29.141|
|      loc31|           25.196|
|     loc305|           27.314|
|      loc82|           27.355|
|      loc90|           23.216|
|     loc118|           24.219|
|     loc195|            27.25|
|     loc208|           26.206|
|      loc39|           25.199|
|      loc75|           23.209|
|     loc228|           27.295|
+-----------+-----------------+
only showing top 20 rows

In [36]:
df1.groupBy("location_id").agg({'temp_celcius':'max'}).show()

+-----------+-----------------+
|location_id|max(temp_celcius)|
+-----------+-----------------+
|     loc196|               36|
|     loc226|               32|
|     loc463|               30|
|     loc150|               39|
|     loc292|               36|
|     loc311|               31|
|      loc22|               35|
|     loc351|               35|
|     loc370|               36|
|     loc419|               36|
|     loc305|               34|
|      loc31|               32|
|     loc118|               31|
|     loc195|               34|
|     loc208|               33|
|      loc82|               34|
|      loc90|               30|
|     loc228|               34|
|      loc39|               32|
|      loc75|               30|
+-----------+-----------------+
only showing top 20 rows

In [37]:
df1.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [38]:
df1.count()

500000

In [39]:
df1_sample = df1.sample(fraction=0.1, withReplacement=False)

In [40]:
df1_sample.count()

49847

In [41]:
# Descriptive Statistics

df1_sample.groupBy("location_id").agg({'temp_celcius':'mean'}).show()

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|     loc196|29.306122448979593|
|     loc226|25.220183486238533|
|     loc463|23.224719101123597|
|     loc150| 32.37373737373738|
|     loc292|28.926315789473684|
|     loc311|24.454545454545453|
|      loc22|             28.35|
|     loc351|28.865168539325843|
|     loc370|            29.232|
|     loc419| 29.22680412371134|
|      loc31| 25.06741573033708|
|     loc305|27.423076923076923|
|      loc82|27.296296296296298|
|      loc90|              23.5|
|     loc118|23.928571428571427|
|     loc195|27.376344086021504|
|     loc208|26.513761467889907|
|      loc39|25.224489795918366|
|      loc75|23.473118279569892|
|     loc228|27.615384615384617|
+-----------+------------------+
only showing top 20 rows

In [42]:
df1_sample.groupBy("location_id").agg({'temp_celcius':'mean'}).orderBy("location_id").show(10)

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|       loc0| 29.43103448275862|
|       loc1|  28.2972972972973|
|      loc10| 25.08080808080808|
|     loc100|             27.14|
|     loc101|25.367816091954023|
|     loc102|30.427272727272726|
|     loc103|25.451923076923077|
|     loc104|26.056603773584907|
|     loc105|26.071428571428573|
|     loc106|             27.03|
+-----------+------------------+
only showing top 10 rows

In [43]:
df1.groupBy("location_id").agg({'temp_celcius':'mean'}).orderBy("location_id").show(10)

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|       loc0|           29.176|
|       loc1|           28.246|
|      loc10|           25.337|
|     loc100|           27.297|
|     loc101|           25.317|
|     loc102|           30.327|
|     loc103|           25.341|
|     loc104|           26.204|
|     loc105|           26.217|
|     loc106|           27.201|
+-----------+-----------------+
only showing top 10 rows

In [44]:
#Save data from DataFrame

df1.write.csv('df1.csv')

In [45]:
!ls

'CH 03'    PySpark_dataframes_and_analysis.ipynb
'CH 04'   'Spark Mac Linux Export Environment Variables'
'CH 05'    spark-warehouse
 Data	  'Spark Windows Instructions'
 df1.csv

In [46]:
!ls df1.csv

part-00000-ebda42ac-4372-4bad-a45f-a0f33c3bf56c-c000.csv
part-00001-ebda42ac-4372-4bad-a45f-a0f33c3bf56c-c000.csv
part-00002-ebda42ac-4372-4bad-a45f-a0f33c3bf56c-c000.csv
part-00003-ebda42ac-4372-4bad-a45f-a0f33c3bf56c-c000.csv
_SUCCESS

In [47]:
! head df1.csv/part-00000-09a7b0f5-c02a-4365-a7d1-d1f3fa9aeb27-c000.csv

head: cannot open 'df1.csv/part-00000-09a7b0f5-c02a-4365-a7d1-d1f3fa9aeb27-c000.csv' for reading: No such file or directory

In [48]:
df1.write.json('df1.json')

In [49]:
! ls df1.json

part-00000-dcc61fa3-cf5b-4e6a-b644-e3651db2579a-c000.json
part-00001-dcc61fa3-cf5b-4e6a-b644-e3651db2579a-c000.json
part-00002-dcc61fa3-cf5b-4e6a-b644-e3651db2579a-c000.json
part-00003-dcc61fa3-cf5b-4e6a-b644-e3651db2579a-c000.json
_SUCCESS

In [50]:
! head df1.json/part-00000-66bf3f84-7a52-4e30-a12f-90cdf6f0896f-c000.json

head: cannot open 'df1.json/part-00000-66bf3f84-7a52-4e30-a12f-90cdf6f0896f-c000.json' for reading: No such file or directory

In [51]:
# Spark SQL -> SQL for DataFrames

In [52]:
# spark = SparkSession.builder.appName("Spark SQL Query DataFrames").getOrCreate()

In [53]:
json_df_path = data_path + "/utlization.json"
df = spark.read.format("json").load(json_df_path)

In [54]:
df.show(10)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+
only showing top 10 rows

In [55]:
df.count()

500000

In [56]:
df.createOrReplaceTempView("utilization")

In [57]:
df_sql = spark.sql("SELECT * FROM utilization LIMIT 10")

In [58]:
df_sql.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+

In [59]:
df_sql.count()

10

In [60]:
df_sql = spark.sql("SELECT server_id, session_count FROM utilization LIMIT 10")

In [61]:
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      100|           47|
|      100|           43|
|      100|           62|
|      100|           50|
|      100|           43|
|      100|           48|
|      100|           58|
|      100|           58|
|      100|           62|
|      100|           45|
+---------+-------------+

In [62]:
df_sql = spark.sql("SELECT server_id AS sid, session_count AS sc FROM utilization")

In [63]:
df_sql.show()

+---+---+
|sid| sc|
+---+---+
|100| 47|
|100| 43|
|100| 62|
|100| 50|
|100| 43|
|100| 48|
|100| 58|
|100| 58|
|100| 62|
|100| 45|
|100| 47|
|100| 60|
|100| 57|
|100| 44|
|100| 47|
|100| 66|
|100| 65|
|100| 66|
|100| 42|
|100| 63|
+---+---+
only showing top 20 rows

In [64]:
#Filtering DataFrame with SQL

In [65]:
df.createOrReplaceTempView("utilization")

In [66]:
df_sql = spark.sql("SELECT * FROM utilization where server_id = 120")

In [67]:
df_sql.show(10)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.66|03/05/2019 08:06:48|       0.31|      120|           54|
|           0.58|03/05/2019 08:11:48|       0.38|      120|           64|
|           0.55|03/05/2019 08:16:48|       0.61|      120|           54|
|            0.7|03/05/2019 08:21:48|       0.35|      120|           80|
|            0.6|03/05/2019 08:26:48|       0.39|      120|           71|
|           0.53|03/05/2019 08:31:48|       0.35|      120|           49|
|           0.73|03/05/2019 08:36:48|       0.42|      120|           73|
|           0.41|03/05/2019 08:41:48|        0.6|      120|           72|
|           0.62|03/05/2019 08:46:48|       0.57|      120|           57|
|           0.67|03/05/2019 08:51:48|       0.44|      120|           78|
+---------------+-------------------+-----------+---------+-------------+
only showing top 10 rows

In [68]:
df_sql.count()

10000

In [69]:
df_sql = spark.sql("SELECT server_id, session_count FROM utilization where session_count > 70")

In [70]:
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      100|           71|
|      100|           71|
|      100|           71|
|      100|           71|
|      100|           72|
|      100|           72|
|      100|           71|
|      100|           71|
|      100|           71|
|      100|           72|
|      100|           71|
|      100|           72|
|      100|           71|
|      100|           71|
|      100|           72|
|      100|           71|
|      100|           72|
|      100|           72|
|      100|           71|
|      100|           71|
+---------+-------------+
only showing top 20 rows

In [71]:
df_sql.count()

239659

In [72]:
df_sql = spark.sql("SELECT server_id, session_count FROM utilization WHERE session_count > 70 AND server_id=120")

In [73]:
df_sql.count()

2733

In [74]:
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      120|           80|
|      120|           71|
|      120|           73|
|      120|           72|
|      120|           78|
|      120|           73|
|      120|           78|
|      120|           73|
|      120|           74|
|      120|           78|
|      120|           75|
|      120|           75|
|      120|           73|
|      120|           79|
|      120|           72|
|      120|           77|
|      120|           75|
|      120|           72|
|      120|           79|
|      120|           75|
+---------+-------------+
only showing top 20 rows

In [75]:
df_sql = spark.sql("SELECT server_id, session_count \
                   FROM utilization \
                   where session_count > 70 and server_id = 120 \
                   ORDER BY session_count DESC")
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
+---------+-------------+
only showing top 20 rows

In [76]:
# Aggregating Data with SQL

In [77]:
json_df2_path = data_path + "/utlization.json"
df = spark.read.format("json").load(json_df1_path)

In [78]:
df.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [79]:
df.createOrReplaceTempView("utilization")

In [80]:
df_count = spark.sql("SELECT count(*) FROM utilization")
df_count.show()

+--------+
|count(1)|
+--------+
|  500000|
+--------+

In [81]:
df_sql = spark.sql("SELECT count(*) \
                    FROM utilization \
                    WHERE session_count > 70")
df_sql.show()

+--------+
|count(1)|
+--------+
|  239659|
+--------+

In [82]:
df_sql = spark.sql("SELECT server_id, count(*) \
                    FROM utilization \
                    WHERE session_count > 70 \
                    GROUP BY server_id")
df_sql.show()

+---------+--------+
|server_id|count(1)|
+---------+--------+
|      112|    7425|
|      113|    9418|
|      130|    2891|
|      126|    6365|
|      149|    8288|
|      110|    2826|
|      136|    4316|
|      144|    6220|
|      116|    1167|
|      145|    9304|
|      143|     144|
|      107|    5646|
|      146|    7072|
|      103|    8744|
|      139|    7383|
|      114|    2128|
|      115|    5284|
|      104|    7366|
|      120|    2733|
|      128|    3719|
+---------+--------+
only showing top 20 rows

In [83]:
df_sql = spark.sql("SELECT server_id, count(*) \
                    FROM utilization \
                    WHERE session_count > 70 \
                    GROUP BY server_id \
                    ORDER BY count(*) DESC")
df_sql.show()

+---------+--------+
|server_id|count(1)|
+---------+--------+
|      101|    9808|
|      113|    9418|
|      145|    9304|
|      103|    8744|
|      102|    8586|
|      133|    8583|
|      108|    8375|
|      149|    8288|
|      137|    8248|
|      148|    8027|
|      123|    7918|
|      118|    7913|
|      112|    7425|
|      139|    7383|
|      104|    7366|
|      142|    7084|
|      121|    7084|
|      146|    7072|
|      126|    6365|
|      144|    6220|
+---------+--------+
only showing top 20 rows

In [84]:
df_sql = spark.sql("SELECT server_id, min(session_count), round(avg(session_count),2), max(session_count) \
                    FROM utilization \
                    WHERE session_count > 70 \
                    GROUP BY server_id \
                    ORDER BY count(*) DESC")
df_sql.show()

+---------+------------------+----------------------------+------------------+
|server_id|min(session_count)|round(avg(session_count), 2)|max(session_count)|
+---------+------------------+----------------------------+------------------+
|      101|                71|                       87.67|               105|
|      113|                71|                       86.96|               103|
|      145|                71|                       86.98|               103|
|      103|                71|                       85.76|               101|
|      102|                71|                       85.71|               101|
|      133|                71|                       85.47|               100|
|      108|                71|                       85.12|               100|
|      149|                71|                       84.96|                99|
|      137|                71|                       85.01|                99|
|      148|                71|                        84.7|                99|
|      123|                71|                       84.53|                98|
|      118|                71|                       84.66|                98|
|      112|                71|                       83.55|                97|
|      139|                71|                       83.33|                96|
|      104|                71|                       83.35|                96|
|      142|                71|                        82.9|                95|
|      121|                71|                       82.89|                95|
|      146|                71|                       82.95|                95|
|      126|                71|                       81.56|                93|
|      144|                71|                       81.38|                92|
+---------+------------------+----------------------------+------------------+
only showing top 20 rows

In [85]:
df.show(10)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+
only showing top 10 rows

In [86]:
df.createOrReplaceTempView("utilization")

In [87]:
data_path = "Data"

In [88]:
csv_df_server_path = data_path + "/server_name.csv"

In [89]:
df_server = spark.read.csv(csv_df_server_path, header=True)
df_server.show()

+---------+-----------+
|server_id|server_name|
+---------+-----------+
|      100| 100 Server|
|      101| 101 Server|
|      102| 102 Server|
|      103| 103 Server|
|      104| 104 Server|
|      105| 105 Server|
|      106| 106 Server|
|      107| 107 Server|
|      108| 108 Server|
|      109| 109 Server|
|      110| 110 Server|
|      111| 111 Server|
|      112| 112 Server|
|      113| 113 Server|
|      114| 114 Server|
|      115| 115 Server|
|      116| 116 Server|
|      117| 117 Server|
|      118| 118 Server|
|      119| 119 Server|
+---------+-----------+
only showing top 20 rows

In [90]:
df_server.createOrReplaceTempView("server_name")

In [91]:
df_count = spark.sql("SELECT DISTINCT server_id FROM utilization ORDER BY server_id")
df_count.show()

+---------+
|server_id|
+---------+
|      100|
|      101|
|      102|
|      103|
|      104|
|      105|
|      106|
|      107|
|      108|
|      109|
|      110|
|      111|
|      112|
|      113|
|      114|
|      115|
|      116|
|      117|
|      118|
|      119|
+---------+
only showing top 20 rows

In [92]:
spark.sql("SELECT min(server_id), max(server_id) FROM utilization").show()

+--------------+--------------+
|min(server_id)|max(server_id)|
+--------------+--------------+
|           100|           149|
+--------------+--------------+

In [93]:
# Joining DataFrames with SQL

In [94]:
df_join = spark.sql("SELECT u.server_id, sn.server_name, u.session_count \
                    from utilization u \
                    INNER JOIN server_name sn \
                    ON sn.server_id = u.server_id")
df_join.show()

+---------+-----------+-------------+
|server_id|server_name|session_count|
+---------+-----------+-------------+
|      100| 100 Server|           47|
|      100| 100 Server|           43|
|      100| 100 Server|           62|
|      100| 100 Server|           50|
|      100| 100 Server|           43|
|      100| 100 Server|           48|
|      100| 100 Server|           58|
|      100| 100 Server|           58|
|      100| 100 Server|           62|
|      100| 100 Server|           45|
|      100| 100 Server|           47|
|      100| 100 Server|           60|
|      100| 100 Server|           57|
|      100| 100 Server|           44|
|      100| 100 Server|           47|
|      100| 100 Server|           66|
|      100| 100 Server|           65|
|      100| 100 Server|           66|
|      100| 100 Server|           42|
|      100| 100 Server|           63|
+---------+-----------+-------------+
only showing top 20 rows

In [95]:
from pyspark.sql import Row

In [96]:
# Duplicate data
df_dup = sc.parallelize([Row(server_name='101 Server', cpu_utilization=85, session_count=80),\
                         Row(server_name='101 Server', cpu_utilization=80, session_count=90), \
                         Row(server_name='102 Server', cpu_utilization=85, session_count=80), \
                         Row(server_name='102 Server', cpu_utilization=85, session_count=80)]).toDF()

In [97]:
df_dup.show()

+-----------+---------------+-------------+
|server_name|cpu_utilization|session_count|
+-----------+---------------+-------------+
| 101 Server|             85|           80|
| 101 Server|             80|           90|
| 102 Server|             85|           80|
| 102 Server|             85|           80|
+-----------+---------------+-------------+

In [98]:
# Elimated duplicates in DataFrames Rowwise

In [99]:
df_dup.drop_duplicates().show()

+-----------+---------------+-------------+
|server_name|cpu_utilization|session_count|
+-----------+---------------+-------------+
| 101 Server|             85|           80|
| 101 Server|             80|           90|
| 102 Server|             85|           80|
+-----------+---------------+-------------+

In [100]:
# Elimated duplicates in DataFrames Columnwise

In [101]:
df_dup.drop_duplicates(['server_name']).show()

+-----------+---------------+-------------+
|server_name|cpu_utilization|session_count|
+-----------+---------------+-------------+
| 102 Server|             85|           80|
| 101 Server|             85|           80|
+-----------+---------------+-------------+

In [102]:
# Working with NA values in DataFrame

In [103]:
from pyspark.sql.functions import lit
from pyspark.sql.types import StringType

In [104]:
df = sc.parallelize([Row(server_name='101 Server', cpu_utilization=85, session_count=80),\
                         Row(server_name='101 Server', cpu_utilization=80, session_count=90), \
                         Row(server_name='102 Server', cpu_utilization=85, session_count=40), \
                         Row(server_name='103 Server', cpu_utilization=70, session_count=80), \
                         Row(server_name='104 Server', cpu_utilization=60, session_count=80)]).toDF()

In [105]:
df.show()

+-----------+---------------+-------------+
|server_name|cpu_utilization|session_count|
+-----------+---------------+-------------+
| 101 Server|             85|           80|
| 101 Server|             80|           90|
| 102 Server|             85|           40|
| 103 Server|             70|           80|
| 104 Server|             60|           80|
+-----------+---------------+-------------+

In [106]:
df_na = df.withColumn('na_col', lit(None).cast(StringType()))

In [107]:
df_na.show()

+-----------+---------------+-------------+------+
|server_name|cpu_utilization|session_count|na_col|
+-----------+---------------+-------------+------+
| 101 Server|             85|           80|  null|
| 101 Server|             80|           90|  null|
| 102 Server|             85|           40|  null|
| 103 Server|             70|           80|  null|
| 104 Server|             60|           80|  null|
+-----------+---------------+-------------+------+

In [108]:
df_na.fillna('A').show()

+-----------+---------------+-------------+------+
|server_name|cpu_utilization|session_count|na_col|
+-----------+---------------+-------------+------+
| 101 Server|             85|           80|     A|
| 101 Server|             80|           90|     A|
| 102 Server|             85|           40|     A|
| 103 Server|             70|           80|     A|
| 104 Server|             60|           80|     A|
+-----------+---------------+-------------+------+

In [109]:
df2 = df_na.fillna('A').union(df_na)
df2.show()

+-----------+---------------+-------------+------+
|server_name|cpu_utilization|session_count|na_col|
+-----------+---------------+-------------+------+
| 101 Server|             85|           80|     A|
| 101 Server|             80|           90|     A|
| 102 Server|             85|           40|     A|
| 103 Server|             70|           80|     A|
| 104 Server|             60|           80|     A|
| 101 Server|             85|           80|  null|
| 101 Server|             80|           90|  null|
| 102 Server|             85|           40|  null|
| 103 Server|             70|           80|  null|
| 104 Server|             60|           80|  null|
+-----------+---------------+-------------+------+

In [110]:
df2.na.drop().show()

+-----------+---------------+-------------+------+
|server_name|cpu_utilization|session_count|na_col|
+-----------+---------------+-------------+------+
| 101 Server|             85|           80|     A|
| 101 Server|             80|           90|     A|
| 102 Server|             85|           40|     A|
| 103 Server|             70|           80|     A|
| 104 Server|             60|           80|     A|
+-----------+---------------+-------------+------+

In [111]:
df2.createOrReplaceTempView("na_table")

In [112]:
spark.sql("SELECT * FROM na_table").show()

+-----------+---------------+-------------+------+
|server_name|cpu_utilization|session_count|na_col|
+-----------+---------------+-------------+------+
| 101 Server|             85|           80|     A|
| 101 Server|             80|           90|     A|
| 102 Server|             85|           40|     A|
| 103 Server|             70|           80|     A|
| 104 Server|             60|           80|     A|
| 101 Server|             85|           80|  null|
| 101 Server|             80|           90|  null|
| 102 Server|             85|           40|  null|
| 103 Server|             70|           80|  null|
| 104 Server|             60|           80|  null|
+-----------+---------------+-------------+------+

In [113]:
spark.sql("SELECT * FROM na_table where na_col IS NULL").show()

+-----------+---------------+-------------+------+
|server_name|cpu_utilization|session_count|na_col|
+-----------+---------------+-------------+------+
| 101 Server|             85|           80|  null|
| 101 Server|             80|           90|  null|
| 102 Server|             85|           40|  null|
| 103 Server|             70|           80|  null|
| 104 Server|             60|           80|  null|
+-----------+---------------+-------------+------+

In [114]:
spark.sql("SELECT * FROM na_table where na_col IS NOT NULL").show()

+-----------+---------------+-------------+------+
|server_name|cpu_utilization|session_count|na_col|
+-----------+---------------+-------------+------+
| 101 Server|             85|           80|     A|
| 101 Server|             80|           90|     A|
| 102 Server|             85|           40|     A|
| 103 Server|             70|           80|     A|
| 104 Server|             60|           80|     A|
+-----------+---------------+-------------+------+

In [115]:
# Exploring data analysis with DataFrames

In [116]:
# Exploring data analysis with spark dataframes

In [117]:
# json_df1_path = data_path + "/utlization.json"
df_util = spark.read.format("json").load(json_df1_path)
df_util.show(10)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+
only showing top 10 rows

In [118]:
df_util.createOrReplaceGlobalTempView("utilization")

In [119]:
df_util.count()

500000

In [120]:
df_util.describe().show()

+-------+-------------------+-------------------+-------------------+------------------+------------------+
|summary|    cpu_utilization|     event_datetime|        free_memory|         server_id|     session_count|
+-------+-------------------+-------------------+-------------------+------------------+------------------+
|  count|             500000|             500000|             500000|            500000|            500000|
|   mean| 0.6205177400000106|               null| 0.3791280999999971|             124.5|          69.59616|
| stddev|0.15875173872912937|               null|0.15830931278376237|14.430884120552962|14.850676696352718|
|    min|               0.22|03/05/2019 08:06:14|                0.0|               100|                32|
|    max|                1.0|04/09/2019 01:22:46|               0.78|               149|               105|
+-------+-------------------+-------------------+-------------------+------------------+------------------+

In [121]:
df_util.stat.corr('cpu_utilization','free_memory')

-0.47047715730807543

In [122]:
df_util.stat.corr('session_count','free_memory')

-0.500832084887659

In [123]:
df_util.stat.freqItems(('server_id', 'session_count')).show()

+--------------------+-----------------------+
| server_id_freqItems|session_count_freqItems|
+--------------------+-----------------------+
|[146, 137, 101, 1...|   [92, 101, 83, 104...|
+--------------------+-----------------------+

In [124]:
df_util_sample = df_util.sample(fraction=0.05, withReplacement=False)

In [125]:
df_util_sample.count()

25005

In [126]:
# Exploring data analysis with spark sql

In [127]:
spark.sql('SELECT min(cpu_utilization), max(cpu_utilization), stddev(cpu_utilization) FROM utilization').show()

+--------------------+--------------------+-----------------------+
|min(cpu_utilization)|max(cpu_utilization)|stddev(cpu_utilization)|
+--------------------+--------------------+-----------------------+
|                0.22|                 1.0|    0.15875173872912937|
+--------------------+--------------------+-----------------------+

In [128]:
spark.sql('SELECT min(cpu_utilization), max(cpu_utilization), stddev(cpu_utilization) \
           FROM utilization \
           GROUP BY server_id').show()

+--------------------+--------------------+-----------------------+
|min(cpu_utilization)|max(cpu_utilization)|stddev(cpu_utilization)|
+--------------------+--------------------+-----------------------+
|                0.52|                0.92|    0.11528867845082576|
|                0.58|                0.98|    0.11544345150353687|
|                0.35|                0.75|    0.11568834774245991|
|                0.48|                0.88|    0.11542612970702058|
|                0.54|                0.94|    0.11543517500295467|
|                0.35|                0.75|    0.11533251724450215|
|                0.41|                 0.8|    0.11597405743182258|
|                0.47|                0.87|    0.11478654960489501|
|                0.22|                0.62|    0.11516031929842008|
|                 0.3|                 0.7|    0.11506079722349302|
|                0.58|                0.98|    0.11476448868786197|
|                0.24|                0.64|    0.11579377614906383|
|                0.26|                0.66|    0.11616596078044727|
|                0.45|                0.85|    0.11597417369783877|
|                 0.5|                 0.9|    0.11488129439634706|
|                0.56|                0.96|    0.11617507884178278|
|                0.51|                0.91|    0.11519660023052102|
|                0.24|                0.64|     0.1155955860444133|
|                0.33|                0.73|    0.11510268816097273|
|                0.44|                0.84|    0.11569664615014985|
+--------------------+--------------------+-----------------------+
only showing top 20 rows

In [129]:
spark.sql('SELECT server_id, FLOOR(cpu_utilization*100/10) bucket FROM utilization').show()

+---------+------+
|server_id|bucket|
+---------+------+
|      100|     5|
|      100|     4|
|      100|     5|
|      100|     5|
|      100|     3|
|      100|     4|
|      100|     5|
|      100|     4|
|      100|     5|
|      100|     5|
|      100|     3|
|      100|     6|
|      100|     6|
|      100|     5|
|      100|     2|
|      100|     4|
|      100|     4|
|      100|     6|
|      100|     4|
|      100|     5|
+---------+------+
only showing top 20 rows

In [130]:
spark.sql('SELECT count(*), FLOOR(cpu_utilization*100/10) bucket FROM utilization GROUP BY bucket').show()

+--------+------+
|count(1)|bucket|
+--------+------+
|   88242|     7|
|  116725|     6|
|   20207|     9|
|  104910|     5|
|      57|    10|
|   37029|     3|
|   56598|     8|
|    8186|     2|
|   68046|     4|
+--------+------+

In [131]:
data_path

'Data'

In [132]:
json_df1_path

'Data/utlization.json'

In [133]:
df_util = spark.read.format("json").load(json_df1_path)

In [134]:
df_util.createOrReplaceTempView("utilization")

In [135]:
spark.sql('SELECT server_id, min(cpu_utilization), max(cpu_utilization), stddev(cpu_utilization) \
            FROM utilization \
            GROUP BY server_id').show()

+---------+--------------------+--------------------+-----------------------+
|server_id|min(cpu_utilization)|max(cpu_utilization)|stddev(cpu_utilization)|
+---------+--------------------+--------------------+-----------------------+
|      112|                0.52|                0.92|    0.11528867845082576|
|      113|                0.58|                0.98|    0.11544345150353687|
|      130|                0.35|                0.75|    0.11568834774245991|
|      126|                0.48|                0.88|    0.11542612970702058|
|      149|                0.54|                0.94|    0.11543517500295467|
|      110|                0.35|                0.75|    0.11533251724450215|
|      136|                0.41|                 0.8|    0.11597405743182258|
|      144|                0.47|                0.87|    0.11478654960489501|
|      119|                0.22|                0.62|    0.11516031929842008|
|      116|                 0.3|                 0.7|    0.11506079722349302|
|      145|                0.58|                0.98|    0.11476448868786197|
|      124|                0.24|                0.64|    0.11579377614906383|
|      143|                0.26|                0.66|    0.11616596078044727|
|      107|                0.45|                0.85|    0.11597417369783877|
|      146|                 0.5|                 0.9|    0.11488129439634706|
|      103|                0.56|                0.96|    0.11617507884178278|
|      139|                0.51|                0.91|    0.11519660023052102|
|      138|                0.24|                0.64|     0.1155955860444133|
|      114|                0.33|                0.73|    0.11510268816097273|
|      115|                0.44|                0.84|    0.11569664615014985|
+---------+--------------------+--------------------+-----------------------+
only showing top 20 rows

In [141]:
# Timeseries analysis with Spark

In [136]:
sql_window = spark.sql('SELECT event_datetime, server_id, cpu_utilization, \
                        avg(cpu_utilization) OVER (PARTITION BY server_id) avg_server_util \
                        FROM utilization')

In [137]:
sql_window.show()

+-------------------+---------+---------------+------------------+
|     event_datetime|server_id|cpu_utilization|   avg_server_util|
+-------------------+---------+---------------+------------------+
|03/05/2019 08:06:34|      112|           0.71|0.7153870000000067|
|03/05/2019 08:11:34|      112|           0.78|0.7153870000000067|
|03/05/2019 08:16:34|      112|           0.87|0.7153870000000067|
|03/05/2019 08:21:34|      112|           0.82|0.7153870000000067|
|03/05/2019 08:26:34|      112|           0.62|0.7153870000000067|
|03/05/2019 08:31:34|      112|            0.9|0.7153870000000067|
|03/05/2019 08:36:34|      112|           0.89|0.7153870000000067|
|03/05/2019 08:41:34|      112|           0.81|0.7153870000000067|
|03/05/2019 08:46:34|      112|           0.88|0.7153870000000067|
|03/05/2019 08:51:34|      112|           0.89|0.7153870000000067|
|03/05/2019 08:56:34|      112|           0.84|0.7153870000000067|
|03/05/2019 09:01:34|      112|           0.71|0.7153870000000067|
|03/05/2019 09:06:34|      112|           0.85|0.7153870000000067|
|03/05/2019 09:11:34|      112|           0.72|0.7153870000000067|
|03/05/2019 09:16:34|      112|           0.54|0.7153870000000067|
|03/05/2019 09:21:34|      112|           0.58|0.7153870000000067|
|03/05/2019 09:26:34|      112|           0.73|0.7153870000000067|
|03/05/2019 09:31:34|      112|           0.86|0.7153870000000067|
|03/05/2019 09:36:34|      112|           0.63|0.7153870000000067|
|03/05/2019 09:41:34|      112|           0.75|0.7153870000000067|
+-------------------+---------+---------------+------------------+
only showing top 20 rows

In [139]:
sql_window2 = spark.sql('SELECT event_datetime, server_id, cpu_utilization, \
                        avg(cpu_utilization) OVER (PARTITION BY server_id) avg_server_util, \
                        cpu_utilization - avg(cpu_utilization) OVER (PARTITION BY server_id) delta_server_util \
                        FROM utilization')

In [140]:
sql_window2.show()

+-------------------+---------+---------------+------------------+--------------------+
|     event_datetime|server_id|cpu_utilization|   avg_server_util|   delta_server_util|
+-------------------+---------+---------------+------------------+--------------------+
|03/05/2019 08:06:34|      112|           0.71|0.7153870000000067|-0.00538700000000...|
|03/05/2019 08:11:34|      112|           0.78|0.7153870000000067| 0.06461299999999337|
|03/05/2019 08:16:34|      112|           0.87|0.7153870000000067| 0.15461299999999334|
|03/05/2019 08:21:34|      112|           0.82|0.7153870000000067|  0.1046129999999933|
|03/05/2019 08:26:34|      112|           0.62|0.7153870000000067|-0.09538700000000666|
|03/05/2019 08:31:34|      112|            0.9|0.7153870000000067| 0.18461299999999337|
|03/05/2019 08:36:34|      112|           0.89|0.7153870000000067| 0.17461299999999336|
|03/05/2019 08:41:34|      112|           0.81|0.7153870000000067|  0.0946129999999934|
|03/05/2019 08:46:34|      112|           0.88|0.7153870000000067| 0.16461299999999335|
|03/05/2019 08:51:34|      112|           0.89|0.7153870000000067| 0.17461299999999336|
|03/05/2019 08:56:34|      112|           0.84|0.7153870000000067| 0.12461299999999331|
|03/05/2019 09:01:34|      112|           0.71|0.7153870000000067|-0.00538700000000...|
|03/05/2019 09:06:34|      112|           0.85|0.7153870000000067| 0.13461299999999332|
|03/05/2019 09:11:34|      112|           0.72|0.7153870000000067|0.004612999999993317|
|03/05/2019 09:16:34|      112|           0.54|0.7153870000000067|-0.17538700000000662|
|03/05/2019 09:21:34|      112|           0.58|0.7153870000000067| -0.1353870000000067|
|03/05/2019 09:26:34|      112|           0.73|0.7153870000000067|0.014612999999993326|
|03/05/2019 09:31:34|      112|           0.86|0.7153870000000067| 0.14461299999999333|
|03/05/2019 09:36:34|      112|           0.63|0.7153870000000067|-0.08538700000000665|
|03/05/2019 09:41:34|      112|           0.75|0.7153870000000067|0.034612999999993344|
+-------------------+---------+---------------+------------------+--------------------+
only showing top 20 rows

In [142]:
sql_window3 = spark.sql('SELECT event_datetime, server_id, cpu_utilization, \
                        avg(cpu_utilization) over (PARTITION BY server_id ORDER BY event_datetime \
                                             ROWS BETWEEN 1 PRECEDING AND 1 FOLLOWING) avg_server_util \
                        FROM utilization')

In [143]:
sql_window3.show()

+-------------------+---------+---------------+------------------+
|     event_datetime|server_id|cpu_utilization|   avg_server_util|
+-------------------+---------+---------------+------------------+
|03/05/2019 08:06:34|      112|           0.71|             0.745|
|03/05/2019 08:11:34|      112|           0.78|0.7866666666666666|
|03/05/2019 08:16:34|      112|           0.87|0.8233333333333333|
|03/05/2019 08:21:34|      112|           0.82|              0.77|
|03/05/2019 08:26:34|      112|           0.62|0.7799999999999999|
|03/05/2019 08:31:34|      112|            0.9|0.8033333333333333|
|03/05/2019 08:36:34|      112|           0.89|0.8666666666666667|
|03/05/2019 08:41:34|      112|           0.81|              0.86|
|03/05/2019 08:46:34|      112|           0.88|              0.86|
|03/05/2019 08:51:34|      112|           0.89|              0.87|
|03/05/2019 08:56:34|      112|           0.84|0.8133333333333334|
|03/05/2019 09:01:34|      112|           0.71|0.7999999999999999|
|03/05/2019 09:06:34|      112|           0.85|0.7600000000000001|
|03/05/2019 09:11:34|      112|           0.72|0.7033333333333333|
|03/05/2019 09:16:34|      112|           0.54|0.6133333333333333|
|03/05/2019 09:21:34|      112|           0.58|0.6166666666666667|
|03/05/2019 09:26:34|      112|           0.73|0.7233333333333333|
|03/05/2019 09:31:34|      112|           0.86|0.7399999999999999|
|03/05/2019 09:36:34|      112|           0.63|0.7466666666666667|
|03/05/2019 09:41:34|      112|           0.75|0.6999999999999998|
+-------------------+---------+---------------+------------------+
only showing top 20 rows

In [144]:
# Machine Learning - Clustering

In [145]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.clustering import KMeans

In [146]:
df_util.show(2)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
+---------------+-------------------+-----------+---------+-------------+
only showing top 2 rows

In [147]:
vectorAssembler = VectorAssembler(inputCols=["cpu_utilization", "free_memory", "session_count"], outputCol="features")

In [148]:
vcluster_df = vectorAssembler.transform(df_util)

In [149]:
vcluster_df.show()

+---------------+-------------------+-----------+---------+-------------+----------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|        features|
+---------------+-------------------+-----------+---------+-------------+----------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|[0.57,0.51,47.0]|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|[0.47,0.62,43.0]|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|[0.56,0.57,62.0]|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|[0.57,0.56,50.0]|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|[0.35,0.46,43.0]|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|[0.41,0.58,48.0]|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|[0.57,0.35,58.0]|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58| [0.41,0.4,58.0]|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|[0.53,0.35,62.0]|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45| [0.51,0.6,45.0]|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|[0.32,0.37,47.0]|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|[0.62,0.59,60.0]|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|[0.66,0.72,57.0]|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|[0.54,0.54,44.0]|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47| [0.29,0.4,47.0]|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|[0.43,0.68,66.0]|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|[0.49,0.66,65.0]|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|[0.64,0.55,66.0]|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42| [0.42,0.6,42.0]|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|[0.55,0.59,63.0]|
+---------------+-------------------+-----------+---------+-------------+----------------+
only showing top 20 rows

In [150]:
kmeans = KMeans().setK(3)
kmeans = kmeans.setSeed(1)

In [151]:
kmodel = kmeans.fit(vcluster_df)

21/08/24 22:51:14 WARN BLAS: Failed to load implementation from: com.github.fommil.netlib.NativeSystemBLAS
21/08/24 22:51:14 WARN BLAS: Failed to load implementation from: com.github.fommil.netlib.NativeRefBLAS

In [152]:
kmodel.clusterCenters()

[array([ 0.62881549,  0.37094643, 70.43030159]),
 array([ 0.52047775,  0.47836303, 51.79927162]),
 array([ 0.71931575,  0.28104316, 88.23965784])]

In [153]:
# Machine Learning - Linear Regression

In [154]:
from pyspark.ml.regression import LinearRegression

In [155]:
vectorAssembler = VectorAssembler(inputCols=["cpu_utilization"], outputCol="features")
df_vutil = vectorAssembler.transform(df_util)
df_vutil.show()

+---------------+-------------------+-----------+---------+-------------+--------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|features|
+---------------+-------------------+-----------+---------+-------------+--------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|  [0.57]|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|  [0.47]|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|  [0.56]|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|  [0.57]|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|  [0.35]|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|  [0.41]|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|  [0.57]|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|  [0.41]|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|  [0.53]|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|  [0.51]|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|  [0.32]|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|  [0.62]|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|  [0.66]|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|  [0.54]|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|  [0.29]|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|  [0.43]|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|  [0.49]|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|  [0.64]|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|  [0.42]|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|  [0.55]|
+---------------+-------------------+-----------+---------+-------------+--------+
only showing top 20 rows

In [156]:
lr = LinearRegression(featuresCol="features",labelCol="session_count")

In [157]:
lrModel = lr.fit(df_vutil)

21/08/24 22:53:41 WARN Instrumentation: [8adeb0dd] regParam is zero, which might cause numerical instability and overfitting.
21/08/24 22:53:43 WARN LAPACK: Failed to load implementation from: com.github.fommil.netlib.NativeSystemLAPACK
21/08/24 22:53:43 WARN LAPACK: Failed to load implementation from: com.github.fommil.netlib.NativeRefLAPACK

In [158]:
lrModel.coefficients

DenseVector([47.024])

In [159]:
lrModel.intercept

40.416951035523546

In [160]:
lrModel.summary.rootMeanSquaredError

12.837990225931746